<div class="row my-5">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Repsonse size to time ratio, depending on amount of requests sent to selected database </h5>
        <form class="form-inline">
            <div class="form-group mx-2">
                <label class="mr-2">Database: </label>
                <select class="form-control" #database>
                  <option value="aurora">Aurora</option>
                  <option value="dynamo">DynamoDB</option>
                </select>
            </div>
            <div class="form-group mx-2">
              <label class="mr-2">Requests amount: </label>
              <input type="number" class="form-control" #requestAmount [(ngModel)]="numOfRequests" [ngModelOptions]="{standalone: true}">
            </div>
            <!-- <div class="form-group">
              <label>requested Records: </label>
              <input type="number" class="form-control" #recordsAmount>
            </div> -->
            <div class="form-group mx-2">
              <button type="button"
                      class="btn btn-primary form-control" 
                      (click)="makeTest(requestAmount.value,database.value)"
                      [disabled]="numOfRequests <= 0"
                      >
                      Send
              </button>
              <button type="button" class="btn btn-danger ml-2" (click)="clearData()"
                  [disabled]="this.lineChartLabels.length === 1">Clear chart data
          </button>
            </div>
          </form>
        <div style="display: block;" >
          <canvas baseChart width="300" height="150" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
             [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>