<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Response size to time ratio depending ond chosen databse and records number</h5>
        <form class="form-inline" (ngSubmit)="onSubmit(reqform)" #reqform="ngForm">
          <label class="my-1 mr-2" for="select">Database:</label>
          <select class="custom-select my-1 mr-sm-2"
                  id="select"
                  name="database"
                  [(ngModel)]="options.database"
                  #database="ngModel"
                  required>
            <option disabled>Choose...</option>
            <option selected value="dynamo">DynamoDB</option>
            <option value="aurora">Aurora</option>
          </select>
          <input type="number"
                 class="form-control mr-2"
                 placeholder="Limit"
                 name="limit"
                 [(ngModel)]="options.limit"
                 #limit="ngModel"
                 required
          >
          <button type="submit" class="btn btn-primary" [disabled]="!reqform.form.valid">Get new request</button>
        </form>
        <div style="display: block;">
          <canvas baseChart width="300" height="100"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-5">
  </div>
</div>
